.card {
  margin-inline: 5%;
  margin-block: 50px;
}

.question {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(146, 170, 235);
}

.answer {
  padding-left: 20px;
}
